.container {
  background: #fff;
  border: 1px solid #eeeded;
  padding: 2rem;
  position: absolute;
  top: 5rem;
  right: 2rem;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
  transform-origin: top right;
  transform-style: preserve-3d;
  animation: rotate 1s ease;
}

@keyframes rotate {
  from {
    transform: rotateZ(90deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

.container div {
  padding: 0.5rem 0;
}

.container input {
  height: 2rem;
  width: 300px;
}

.container form {
  text-align: left;
}

#submit {
  color: #fff;
  background-color: #000;
  width: 100%;
  border: none;
  cursor: pointer;
  height: 40px;
  text-transform: uppercase;
}
