.countdown-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.countdown-board > div:first-child {
  border: 10px solid #d11a0f;
  color: #d11a0f;
}

.block {
  width: 200px;
  margin: 0 2.5rem;
  padding: 2.5rem 1rem;
}
.number {
  font-size: 8em;
}

.unit {
  font-size: 1.4rem;
  font-weight: 600;
}
