.App {
  text-align: center;
  background-color: #f0f0ee;
  height: 100vh;
  padding: 2rem;
  font-family: Roboto;
}

.event-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 4rem;
}

.datetime-selector {
  visibility: hidden;
}

.start-button {
  color: #fff;
  background-color: #000;
  padding: 1rem 2rem;
  float: right;
}
